

html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious-white.png");
}